.twitter-page {
  overflow-y: scroll;
  height: calc(100vh - 70px);

  .floating-controls {
    position: fixed;
    right: 0;
  }

  .tweet-entry {
    padding: 0 5px;

    &.visible-tweet {
      background-color: #ffbbbb;

      color: #111;
    }

    table {
      width: 100%;
    }

    hr {
      border-top: 3px solid #333;
    }

    .tweet {
      vertical-align: top;

      h2 {
        font-size: 1.8em;
      }

      p.text {
        font-size: 2.2em;
      }
    }
    .image {
      text-align: right;

      .photo {
        width: 350px;
        height: (350px / 1235px * 1080px);

        background-size: cover;
        background-position: center;
      }
    }
  }
}